/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.donate_button {
	text-transform: uppercase;
	color: #ffffff !important;
	text-decoration: none;
	padding: 20px;
	display: inline-block;
	margin-bottom: 20px;
	background: #2980b9;
	width: 350px;
	border-radius: 0.5rem;
}

.donate_button:hover {
	background: #343131;
}