/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.donate_button {
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px;
	border: 2px solid #343131 !important;
	display: inline-block;
	margin-bottom: 20px;
}

.donate_button:hover {
	color: #ffffff !important;
	background: #2980b9 ;
	border-color: #2980b9  !important;
}